*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/swordigomega.jks

*.apk

*.hprof

# Android Studio / IntelliJ
.idea/*
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/
!.idea/vcs.xml
!.idea/compiler.xml
!.idea/misc.xml
!.idea/jarRepositories.xml

# Explicitly remove user-specific things
.idea/workspace.xml
.idea/tasks.xml
.idea/caches/
.idea/libraries/
.idea/dictionaries/
.idea/shelf/
.idea/assetWizardSettings.xml
